.our-journey {
    .time-line {
        .text-box {
            flex: none !important;
    
        }
    }

    .numbers {
        color: #FF8225;
        font-size: 96px;
        font-weight: 500;
        line-height: 110px;
        letter-spacing: -0.96px;
        text-align: left;
    }

    .text-line {
        color:  #5E6A6D;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.18px;
        text-align: left;
    }

    @media (max-width: 1024px) {
        .numbers , .text-line {
            text-align: center;
        }
    }
}

