.our-team {
    .card {
        img {
            width: 260px;
            height: 266px;
            object-fit: cover;  
            border-radius: 20px 20px 0 0;
            box-shadow: 0px 4px 12px 8px rgba(255, 130, 37, 0.2);
        }
    }
}