    .video-card {
        .card {
            width: 365px;
            height: 480px;
        }
        .card-media {
            width: 100% !important;
            height: 100%;
        }
        
    }
