.customer-list-table {
  width: 100%;
    padding: 1rem;
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
    }

    .icon-button:hover {
      background-color: rgb(251, 2, 2); /* Light grey hover */
    }
    
  
    th, td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;
    }
  
    th {
      font-weight: bold;
      background-color: #f5f5f5;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    .customer-actions {
      display: flex;
      gap: 0.3rem; // Reduce the gap between icons
      justify-content: flex-end;
    }
  
    // Optional: Adjust icon size to align with text
    .customer-actions .MuiSvgIcon-root {
      font-size: 1.2rem;
    }

    
      .video-upload {
        margin-top: 20px;
    
        label {
          display: block;
          margin-bottom: 5px;
        }
    
        input {
          margin-bottom: 10px;
        }
    
        .video-preview {
          margin-top: 10px;
    
          video {
            width: 100%;
            max-width: 300px;
            border: 1px solid #ddd;
            border-radius: 4px;
          }
        }
      }
    }
    

  