.hero-section { 
    .hero-left {
        padding: 106px 0;

        h2 {
            font-size: 72px;
            font-weight: 500;
            line-height: 80px;
            max-width: 564px;
            margin-bottom: 24px;
        }
        p {
            color: #5E6A6D;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            max-width: 465px;
            margin-bottom: 64px;
        }

        button {
            background-color: #FF8225;
            border-radius: 20px;
            color: #fff;
            border: none;
            display: flex;
            text-align: center;
            align-items: center;
            max-width: 300px;
            padding: 16px 32px;
            font-size: 16px;
            svg {
                margin-left: 12px;
            }
        }
    }

    .hero-right {
        display: flex;
        padding: 106px 0;
        justify-content: space-between;

        .image {
            height: 440px;
            width: 258px;
            margin-right: 32px;
            border: 2px solid white;
            border-radius: 50% / 30%;
            background-size: cover;

            img {
                width: 100%;
                height: 100%;
                border: 2px solid white;
                border-radius: 50% / 30%;
                object-fit: cover;  
            }
        }

        .percentage {
            
            .box {
                background-color: rgba(255, 130, 37, 0.05);
                border-radius: 50% 0 50% 0;
                height: 210px;
                width: 210px;
                margin-bottom: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .box-circle {
                background-color: rgba(255, 130, 37, 0.05);
                border-radius: 0 50% 50% 50%;
                height: 210px;
                width: 210px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .number {
                font-size: 72px;
                color: #FF8225;
            }

            p {
                font-size: 18px;
                color: #5E6A6D;
                line-height: 24px;
                margin-top: 32px;
                font-weight: 400;
            }
        }
        
    }
    .partner {
        display: flex;
        align-items: center;
        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #5E6A6D;
            max-width: 124px;
        }
        .img-box {
            img {
                margin: 0 40px;
            }
        }
    }

    .carousel {
        position: relative;
        width: 100%;
        overflow: hidden;
    
        .carousel-track {
            display: flex;
            width: calc(100% * 6);
            animation: scroll 12s linear infinite;
    
            img {
                width: 150px; 
                height: auto;
            }
        }
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0); 
        }
        10% {
            transform: translateX(-1); 
        }
        100% {
            transform: translateX(-100%);
        }
    }
}