.hero-section { 
    padding-top: 80px !important;

    .hero-left {
        padding: 106px 0;

        h1 {
            font-size: 64px;
            font-weight: 500;
            line-height: 80px;
            max-width: 564px;
            margin-bottom: 24px;
        }
        p {
            color: #5E6A6D;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            max-width: 465px;
            margin-bottom: 64px;
        }

        .btn {
            display: flex;
            align-items: center;

            .consultaion-btn {
                background-color: #FF8225;
                border-radius: 20px;
                color: #fff;
                border: none;
                display: flex;
                text-align: center;
                align-items: center;
                max-width: 300px;
                padding: 16px 32px;
                font-size: 16px;
    
                svg {
                    margin-left: 12px;
                }
            }
    
            .tg-btn {
                margin-left: 24px;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-color: #FF8225;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-top: 2px;
                    margin-right: 4px;
                }
            }
        }

        
    }

    .hero-right {
        display: flex;
        padding: 106px 0;
        justify-content: space-between;

        .image {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            .years-experience {
                position: absolute;
                width: 194px;
                height: 58px;
                border-radius: 24px;
                background-color: rgba($color: #FF8225, $alpha: 0.1);
                top: 20px;
                left: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                color: #FF8225;
            }

            .success-rate {
                position: absolute;
                width: 118px;
                height: 118px;
                border-radius: 50%;
                background-color: #FF8225;
                right: 0;
                bottom: -50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #FFFFFF;

                .title {
                    font-size: 24px;
                    font-weight: 600;
                }

                .paragraph {
                    font-weight: 600;
                }
            }
        }

        .percentage {
            .box {
                background-color: rgba(255, 130, 37, 0.05);
                border-radius: 50% 0 50% 0;
                height: 210px;
                width: 210px;
                margin-bottom: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .box-circle {
                background-color: rgba(255, 130, 37, 0.05);
                border-radius: 0 50% 50% 50%;
                height: 210px;
                width: 210px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .number {
                font-size: 72px;
                color: #FF8225;
            }

            p {
                font-size: 18px;
                color: #5E6A6D;
                line-height: 24px;
                margin-top: 32px;
                font-weight: 400;
            }
        }
    }

      
      

    // Media Queries
    @media (max-width: 1024px) {
        .css-1hbopwx-MuiGrid-root>.MuiGrid-item {
            padding: 0 0 80px 0;
        }

        .hero-description {
            margin-bottom: 20px !important;
        }

        .hero-section {
            padding-top: 20px !important;
            padding: 80px 0 !important;
        }

        .container {
            max-width: 1280px;
            margin: 0 auto;
            padding: 0 20px !important;
        }
        
        .hero-left {            
            h1 {
                font-size: 56px;
                line-height: 64px;
            }
            
            p {
                font-size: 16px;
            }

            .btn {
                .consultaion-btn {
                    padding: 12px 12px;
                    font-size: 12px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .hero-left {
            padding: 60px 0;

            h1 {
                font-size: 48px;
                line-height: 56px;
            }

            p {
                font-size: 14px;
            }

            .consultaion-btn {
                padding: 10px 20px;
                font-size: 14px;
            }

            .tg-button {
                width: 56px;
                height: 56px;
            }
        }

        .hero-right {
            padding: 0;
            
            .image {
                .years-experience {
                    left: 0;
                    top: -40px;
                }

                .success-rate {
                    width: 80px;
                    height: 80px;

                    .title {
                        font-size: 16px;
                    }

                    .paragraph {
                        font-size: 10px;
                    }
                }
            }
            
        }

    }

    @media (max-width: 480px) {
        .hero-left {
            padding: 40px 0;
            
            h1 {
                font-size: 36px;
                line-height: 44px;
                max-width: 100%;
            }

            p {
                font-size: 12px;
                max-width: 100%;
            }

            button {
                padding: 8px 16px;
                font-size: 12px;
            }
        }

    }
}
